# noisy diffs
flake.lock -diff
lazy-lock.json -diff
modules/home/desktop/fonts/fonts/* filter=git-crypt diff=git-crypt
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
